{layout='layouts/_html-wrapper'}

{!-- page vars (prefix p_) --}
{preload_replace:p_url='blog'}
{preload_replace:p_url_entry='entry'}
{!-- channel vars (prefix ch_) --}
{preload_replace:ch='blog'}
{preload_replace:ch_disable='category_fields|member_data'}

{layout:set name='scripts'}{/layout:set}


<section class="row content home pad">
	<section class="w-16">
		<figure class="cycle-slideshow"
			data-cycle-fx="scrollHorz"
			data-cycle-pause-on-hover="true"
			data-cycle-speed="500"
			data-cycle-prev=".prev-slide"
    		data-cycle-next=".next-slide"
		>
			{!-- slideshow images from a specific directory, and category --}
			{exp:file:entries directory_id='8' dynamic='no' limit='5' disable='pagination' category='not 25'}
				<img src="{file_url}" alt="{file_name:attr_safe}"{if count == 1} class="act"{/if}>
				{if count == 1}
					<div class="slide-ctrls">
						<a class="prev-slide" href="#"></a>
						<a class="next-slide" href="#"></a>
					</div>
				{/if}
			{/exp:file:entries}
		</figure>
		<h1>Recent Blog Posts <a class="btn all" href="{path='{p_url}'}">All Posts</a></h1>
	</section>
	<section class="w-8">
		<div class="entries">
			{exp:channel:entries channel='{ch}' disable='{ch_disable}' limit='4'}
				{!-- listing as a snippet, as it's used through more than one template --}
				{snp_blog_list}
				{!-- no results --}
				{if no_results}
					<div class="alert warn no-results">
						<p>{gv_entries_none}</p>
					</div>
				{/if}
			{/exp:channel:entries}
		</div>
	</section>
	<section class="w-8">
		<div class="entries">
			{!-- using the offset='' parameter here to start the listing on the 5th item. which allows us to split it into two columns without any wonky math --}
			{exp:channel:entries channel='{ch}' disable='{ch_disable}' limit='4' offset='4'}
				{!-- listing as a snippet, as it's used through more than one template --}
				{snp_blog_list}
				{!-- no results --}
				{if no_results}
					<div class="alert warn no-results">
						<p>{gv_entries_none}</p>
					</div>
				{/if}
			{/exp:channel:entries}
		</div>
	</section>
	<section class="w-16">
		<a href="javascript:void(0);" class="btn" id="modal_newsletter">Newsletter</a>
		<div class="wrapper-pop-up">
			<div class="pop-up" id="newsletter-form-id">
				<div class="pop-up-content">
					<span class="close">X</span>
					<section class="newsletter-signup-sfmc-body">
						<div class="thank-msg">
							<h2>Thanks for Getting on Our List.</h2>
							<p>Be on the lookout for handpicked updates. In the meantime, please take a moment to tell us about our new look. <br> <u>Share your thoughts.</u></p>
						</div>
						<div class="wrapper-form">
							<h1 class="newsletter-signup--headline">Sign me up for the Zarbee’s newsletter!</h1>
							<p class="newsletter-signup--intro">By signing up you will receive additional product information, special offers and advice delivered straight to your inbox. <a href="/privacy-policy">Privacy Policy</a></p>
							<form class="newsletter-signup__form" action ="sfmc-post-de.php" id="newsletter-form-sfmc" name="newsletter-form" novalidate>
								<div class="newsletter-signup__row-1">
									<input id="newsletter-first-name" maxlength="20" type="text" name="FirstName" class="alpha input--standard newsletter-signup__email-input" placeholder="First Name*" required>
									<input id="newsletter-last-name" maxlength="20" type="text" name="LastName" class="alpha input--standard newsletter-signup__email-input" placeholder="Last Name*" required>
									<input id="newsletter-email" type="email" name="EmailAddress" class="input--standard newsletter-signup__email-input" placeholder="Email address*" required>
								</div>
								<div class="newsletter-signup__row-2">
									<select id="newsletter-gender" name="Gender" class="input--standard">
										<option value="">Gender*</option>
										<option value="Male">Male</option>
										<option value="Female">Female</option>
									</select>
									<input id="newsletter-zipcode" type="text" name="ZipCode" class="numeric input--standard newsletter-signup__email-input" placeholder="Zip Code*">
								</div>
								<label class="block-label">How old are the kids you are purchasing for? Add up to 4 children.</label>
								<div class="newsletter-signup__row-3">
									<div>
									  <select name="Child1" class="input--standard">
										<option value="">Select age range...</option>
										<option value="0-12months">0-12 months</option>
										<option value="2-4">2-4</option>
										<option value="5-7">5-7</option>
										<option value="8-11">8-11</option>
										<option value="12plus">12+</option>
									  </select>
									</div>
									<div>
									  <select name="Child2" class="input--standard child-2">
										<option value="">Select age range...</option>
										<option value="0-12months">0-12 months</option>
										<option value="2-4">2-4</option>
										<option value="5-7">5-7</option>
										<option value="8-11">8-11</option>
										<option value="12plus">12+</option>
									  </select>
									</div>
									<div>
									  <select name="Child3" class="input--standard">
										<option value="">Select age range...</option>
										<option value="0-12months">0-12 months</option>
										<option value="2-4">2-4</option>
										<option value="5-7">5-7</option>
										<option value="8-11">8-11</option>
										<option value="12plus">12+</option>
									  </select>
									</div>
									<div>
									  <select name="Child4" class="input--standard">
										<option value="">Select age range...</option>
										<option value="0-12months">0-12 months</option>
										<option value="2-4">2-4</option>
										<option value="5-7">5-7</option>
										<option value="8-11">8-11</option>
										<option value="12plus">12+</option>
									  </select>
									</div>
								</div>
								<div class="newsletter-signup__row-4">
									<div>
										<label class="block-label">Who do you buy ZARBEE’s products for? Select all that apply:</label>
										<div class="input--checkbox">
											<label><input type="checkbox" name="AnswerWhoBuy" value="Myself & Other adults in the household"><i class="icon"></i><span>Myself & Other adults in the household</span></label>
										</div>
										<div class="input--checkbox">
											<label><input type="checkbox" name="AnswerWhoBuy" value="Child(ren) in my household"><i class="icon"></i><span>Child(ren) in my household</span></label>
										</div>
										<div class="input--checkbox">
											<label><input type="checkbox" name="AnswerWhoBuy" value="Baby (&lt;2 years old) in my household"><i class="icon"></i><span>Baby (&lt;2 years old) in my household</span></label>
										</div>
									</div>
									<div>
										<label class="block-label">Which of the following describes the type of products you use from ZARBEES? Select all that apply:</label>
										<div class="input--checkbox">
											<label><input type="checkbox" name="AnswerProduct" value="Throat relief"><i class="icon"></i><span>Throat relief</span></label>
										</div>
										<div class="input--checkbox">
											<label><input type="checkbox" name="AnswerProduct" value="Vitamins and Supplements (Including Sleep)"><i class="icon"></i><span>Vitamins and Supplements (Including Sleep)</span></label>
										</div>
										<div class="input--checkbox">
											<label><input type="checkbox" name="AnswerProduct" value="Immune Support"><i class="icon"></i><span>Immune Support</span></label>
										</div>
										<div class="input--checkbox">
											<label><input type="checkbox" name="AnswerProduct" value="Sinus Support"><i class="icon"></i><span>Sinus Support</span></label>
										</div>
									</div>
								</div>
								<div class="newsletter-signup__btn-holder">
									<input type="submit" id="newsletter-submit-sfmc" class="btn--medium-pad -standard" value="Sign Up">
								</div>
							</form>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
</section>