html.modal-open {
  overflow: hidden;
}

html.modal-open body {
  overflow: hidden;
}

.wrapper-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrapper-pop-up.show-pop-up {
  display: block;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper-pop-up #newsletter-form-id {
  display: block;
  max-width: 980px;
  width: calc(100% - 30px);
  margin: 50px auto 50px;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content {
  position: relative;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .close {
  display: block;
  position: absolute;
  z-index: 15;
  background: #237197;
  right: 0px;
  top: 0px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  color: #FFF;
  cursor: pointer;
  font-family: FuturaStd-Heavy, Arial, sans-serif;
  font-size: 16px;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body {
  background-image: url(https://www.zarbees.com/static-assets/ui/groovepaper.png);
  background-color: #f3f3ee;
  display: block;
  padding: 50px 45px;
  position: relative;
}

@media (max-width: 768px) {
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body {
    padding: 30px 15px;
  }
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup--headline {
  color: #545454;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup--intro {
  color: #545454;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup--intro a {
  color: #545454;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0 0;
  max-width: 96rem;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .block-label {
  color: #545454;
  font-size: 18px;
  text-align: center;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--standard {
  color: #545454;
  border-radius: 0px;
  border: #cecdcd solid 1px;
  background: #FFF;
  font-size: 1.6rem;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--standard::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: FuturaStd-Medium, Arial, sans-serif;
  color: #545454;
  opacity: 1;
  /* Firefox */
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--standard:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: FuturaStd-Medium, Arial, sans-serif;
  color: #545454;
  opacity: 1;
  /* Firefox */
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--standard::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: FuturaStd-Medium, Arial, sans-serif;
  color: #545454;
  opacity: 1;
  /* Firefox */
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--standard::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: FuturaStd-Medium, Arial, sans-serif;
  color: #545454;
  opacity: 1;
  /* Firefox */
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--standard:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: FuturaStd-Medium, Arial, sans-serif;
  color: #545454;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--standard::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: FuturaStd-Medium, Arial, sans-serif;
  color: #545454;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--checkbox {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 20px;
  font-size: 16px;
  font-family: FuturaStd-Medium, Arial, sans-serif;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--checkbox input {
  display: none;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--checkbox i.icon {
  background-image: url("https://image.e.janssen.com/lib/fe9813737664037c77/m/1/c521583b-294d-44c3-8365-e76f6ab0de35.png");
  background-position: left center;
  background-size: auto 100%;
  background-color: #FFF;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  position: absolute;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--checkbox input[type=checkbox]:checked + i.icon {
  background-position: right center;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--checkbox label {
  padding-left: 0px !important;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .input--checkbox label span {
  padding-left: 35px;
  padding-top: 5px;
  display: block;
  font-weight: normal;
  text-align: left;
  line-height: 18px;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-1,
.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-2,
.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-3,
.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 21px;
}

@media (max-width: 768px) {
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-1,
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-2,
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-3,
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-4 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-1 {
    margin-bottom: 0px;
  }
}

@media (max-width: 768px) {
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-1 input {
    width: 100%;
    margin-bottom: 12px;
  }
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-2 input,
.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-2 select {
  width: 49%;
}

@media (max-width: 768px) {
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-2 input,
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-2 select {
    width: 100%;
    margin-bottom: 12px;
  }
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-3 > div {
  width: 23%;
}

@media (max-width: 768px) {
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-3 > div {
    width: 48%;
    margin-bottom: 12px;
  }
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-4 {
  margin-bottom: 21px;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-4 > div {
  width: 48%;
}

@media (max-width: 768px) {
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-4 > div {
    width: 100%;
  }
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-4 > div:first-child {
    margin-bottom: 21px;
  }
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__row-4 > div .block-label {
  text-align: left;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .newsletter-signup__form .newsletter-signup__btn-holder {
  padding-bottom: 0px;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .wrapper-form {
  position: relative;
  z-index: 5;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .thank-msg {
  text-align: center;
  display: block;
  position: absolute;
  margin: auto;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url(https://www.zarbees.com/static-assets/ui/groovepaper.png);
  background-color: #f3f3ee;
  left: 0px;
  padding: 50px 45px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 768px) {
  .wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .thank-msg {
    padding: 30px 15px;
  }
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .thank-msg.show {
  opacity: 1;
  z-index: 10;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .thank-msg h2 {
  font-family: FuturaStd-Light, Arial, sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #545454;
  text-align: center;
}

.wrapper-pop-up #newsletter-form-id .pop-up-content .newsletter-signup-sfmc-body .thank-msg p {
  font-family: FuturaStd-Light, Arial, sans-serif;
  padding: 12px 0px;
  text-align: center;
  max-width: 100%;
  font-size: 18px;
  margin: 0 auto;
  line-height: 20px;
  color: #545454;
}

body .modal-open {
  overflow: hidden;
}

.-invalid {
  border: #ffc9c9 solid 1px !important;
}
/*# sourceMappingURL=custom.css.map */