html {
    &.modal-open {
        overflow: hidden;

        body {
            overflow: hidden;
        }
    }
}

.wrapper-pop-up {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.3s linear;

    &.show-pop-up {
        display: block;
        opacity: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #newsletter-form-id {
        display: block;
        max-width: 980px;
        width: calc(100% - 30px);
        margin: 50px auto 50px;

        .pop-up-content {
            position: relative;

            .close {
                display: block;
                position: absolute;
                z-index: 15;
                background: #237197;
                right: 0px;
                top: 0px;
                height: 30px;
                width: 30px;
                text-align: center;
                line-height: 30px;
                color: #FFF;
                cursor: pointer;
                font-family: FuturaStd-Heavy, Arial, sans-serif;
                font-size: 16px;
            }

            .newsletter-signup-sfmc-body {
                background-image: url(https://www.zarbees.com/static-assets/ui/groovepaper.png);
                background-color: #f3f3ee;
                display: block;
                padding: 50px 45px;
                position: relative;

                @media (max-width: 768px) {
                    padding: 30px 15px;
                }

                .newsletter-signup--headline {
                    color: #545454;
                }

                .newsletter-signup--intro {
                    color: #545454;

                    a {
                        color: #545454;
                    }
                }

                .newsletter-signup__form {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    padding: 2rem 0 0;
                    max-width: 96rem;

                    .block-label {
                        color: #545454;
                        font-size: 18px;
                        text-align: center;
                    }

                    .input--standard {
                        color: #545454;
                        border-radius: 0px;
                        border: #cecdcd solid 1px;
                        background: #FFF;
                        font-size: 1.6rem;

                        &::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            font-family: FuturaStd-Medium, Arial, sans-serif;
                            color: #545454;
                            opacity: 1;
                            /* Firefox */
                        }

                        &:-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            font-family: FuturaStd-Medium, Arial, sans-serif;
                            color: #545454;
                        }

                        &::-ms-input-placeholder {
                            /* Microsoft Edge */
                            font-family: FuturaStd-Medium, Arial, sans-serif;
                            color: #545454;
                        }
                    }

                    .input--checkbox {
                        position: relative;
                        display: block;
                        margin-top: 0px;
                        margin-bottom: 20px;
                        text-align: left;
                        padding-left: 20px;
                        font-size: 16px;
                        font-family: FuturaStd-Medium, Arial, sans-serif;

                        input {
                            display: none;
                        }

                        i.icon {
                            background-image: url('https://image.e.janssen.com/lib/fe9813737664037c77/m/1/c521583b-294d-44c3-8365-e76f6ab0de35.png');
                            background-position: left center;
                            background-size: auto 100%;
                            background-color: #FFF;
                            width: 24px;
                            height: 24px;
                            background-repeat: no-repeat;
                            position: absolute;
                        }

                        input[type=checkbox]:checked+i.icon {
                            background-position: right center;
                        }

                        label {
                            padding-left: 0px !important;

                            span {
                                padding-left: 35px;
                                padding-top: 5px;
                                display: block;
                                font-weight: normal;
                                text-align: left;
                                line-height: 18px;
                            }
                        }
                    }

                    .newsletter-signup__row-1,
                    .newsletter-signup__row-2,
                    .newsletter-signup__row-3,
                    .newsletter-signup__row-4 {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 21px;

                        @media (max-width: 768px) {
                            flex-wrap: wrap
                        }
                    }

                    .newsletter-signup__row-1 {
                        @media (max-width: 768px) {
                            margin-bottom: 0px;
                        }

                        input {
                            @media (max-width: 768px) {
                                width: 100%;
                                margin-bottom: 12px;
                            }
                        }
                    }

                    .newsletter-signup__row-2 {

                        input,
                        select {
                            width: 49%;

                            @media (max-width: 768px) {
                                width: 100%;
                                margin-bottom: 12px;
                            }
                        }
                    }

                    .newsletter-signup__row-3 {
                        >div {
                            width: 23%;

                            @media (max-width: 768px) {
                                width: 48%;
                                margin-bottom: 12px;
                            }
                        }
                    }

                    .newsletter-signup__row-4 {
                        margin-bottom: 21px;

                        >div {
                            width: 48%;

                            @media (max-width: 768px) {
                                width: 100%;

                                &:first-child {
                                    margin-bottom: 21px;
                                }
                            }

                            .block-label {
                                text-align: left;
                            }
                        }
                    }

                    .newsletter-signup__btn-holder {
                        padding-bottom: 0px;
                    }
                }

                .wrapper-form {
                    position: relative;
                    z-index: 5;
                }

                .thank-msg {
                    text-align: center;
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    background-image: url(https://www.zarbees.com/static-assets/ui/groovepaper.png);
                    background-color: #f3f3ee;
                    left: 0px;
                    padding: 50px 45px;
                    opacity: 0;
                    z-index: 1;
                    transition: all 0.3s linear;

                    @media (max-width: 768px) {
                        padding: 30px 15px;
                    }

                    &.show {
                        opacity: 1;
                        z-index: 10;
                    }

                    h2 {
                        font-family: FuturaStd-Light, Arial, sans-serif;
                        font-size: 2.4rem;
                        line-height: 3rem;
                        color: #545454;
                        text-align: center;
                    }

                    p {
                        font-family: FuturaStd-Light, Arial, sans-serif;
                        padding: 12px 0px;
                        text-align: center;
                        max-width: 100%;
                        font-size: 18px;
                        margin: 0 auto;
                        line-height: 20px;
                        color: #545454;
                    }
                }
            }
        }
    }
}

body {
    .modal-open {
        overflow: hidden;
    }
}

.-invalid {
    border: #ffc9c9 solid 1px !important;
}